root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,shader,cginc}]
charset = utf-8-bom
indent_size = 4

[*.{csproj,sln}]
end_of_line = crlf

[*.{anim,asset,controller,mat,meta,prefab,unity}]
insert_final_newline = unset
trim_trailing_whitespace = unset
