*
!*/
!/[Aa]ssets/*.rsp
!/[Aa]ssets/Live2D/Cubism/**/*.cginc
!/[Aa]ssets/Live2D/Cubism/**/*.cs
!/[Aa]ssets/Live2D/Cubism/**/*.md
!/[Aa]ssets/Live2D/Cubism/**/*.shader
!/[Aa]ssets/Live2D/Cubism/**/*.txt
/[Aa]ssets/Live2D/Cubism/Plugins/
!/.gitattributes
!/.editorconfig
!/.gitignore
!/*.md
