*
!*/
!/[Aa]ssets/*.rsp
!/[Aa]ssets/*.rsp.meta
!/[Aa]ssets/Live2D.meta
!/[Aa]ssets/Live2D/Cubism.meta
!/[Aa]ssets/Live2D/Cubism/**/*
/[Aa]ssets/Live2D/Cubism/Plugins/**/*.a
/[Aa]ssets/Live2D/Cubism/Plugins/**/*.bc
/[Aa]ssets/Live2D/Cubism/Plugins/**/*.dll
/[Aa]ssets/Live2D/Cubism/Plugins/**/*.so
/[Aa]ssets/Live2D/Cubism/Plugins/**/*.bundle
!/.gitattributes
!/.editorconfig
!/.gitignore
!/*.md
