# Auto detect text files and perform LF normalization
*                   text=auto

# Explicitly declare files as LF
*.txt               text eol=lf
*.md                text eol=lf
.editorconfig       text eol=lf
.gitattributes      text eol=lf
*.gitignore         text eol=lf
*.rsp               text eol=lf
*.cs                text eol=lf diff=csharp
*.cginc             text eol=lf
*.shader            text eol=lf
*.mat               merge=unityyamlmerge eol=lf
*.anim              merge=unityyamlmerge eol=lf
*.unity             merge=unityyamlmerge eol=lf
*.prefab            merge=unityyamlmerge eol=lf
*.asset             merge=unityyamlmerge eol=lf
*.meta              merge=unityyamlmerge eol=lf
*.controller        merge=unityyamlmerge eol=lf

# Library and media files as binary
*.moc3              binary
*.jpg               binary
*.png               binary
*.a                 binary
*.bc                binary
*.bundle            binary
*.dll               binary
*.so                binary
