# We only have a few file extensions we're interested in (and we know the folder structure),
# so we taking a brute force approach here...
*.*

!README.md

!Assets/Live2D/Cubism/Components/**/*.cs
!Assets/Live2D/Cubism/Components/**/*.md

!Assets/Live2D/Cubism/Components/Resources/**/*.asset
!Assets/Live2D/Cubism/Components/Resources/**/*.mat
!Assets/Live2D/Cubism/Components/Resources/**/*.shader
